<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Admin</title>

      <link rel="stylesheet" th:href="@{/admin/assets/css/bootstrap.css}">
      <link rel="stylesheet" th:href="@{/admin/assets/vendors/chartjs/Chart.min.css}">
      <link rel="stylesheet" th:href="@{/admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
      <link rel="stylesheet" th:href="@{/admin/assets/css/app.css}">
      <link rel="shortcut icon" th:href="@{/admin/assets/images/favicon.png}" type="image/x-icon">
   </head>
   <body>
      <div id="app">
        <!-- Sidebar -->
        <div th:replace="admin/fragments/sidebar:: sidebar"></div>
         <!-- End side -->
         <div id="main">
            <!-- Header -->
             <div th:replace="admin/fragments/header:: header"></div>
            <!-- End header -->
            <!-- Content -->
            <div class="main-content container-fluid">
               
               <div layout:fragment="page-title"></div>
               <div layout:fragment="content"></div>

            </div>
            <!-- End content -->
            <!-- Footer -->
             <div th:replace="admin/fragments/footer:: footer"></div>
            <!-- End footer -->
         </div>
      </div>
      <script th:src="@{/admin/assets/js/feather-icons/feather.min.js}"></script>
      <script th:src="@{/admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
      <script th:src="@{/admin/assets/js/app.js}"></script>
      <script th:src="@{/admin/assets/js/jquery-3.2.1.min.js}"></script>
      <script th:src="@{/admin/assets/vendors/chartjs/Chart.min.js}"></script>
      <script th:src="@{/admin/assets/vendors/apexcharts/apexcharts.min.js}"></script>
      <script th:src="@{/admin/assets/js/pages/dashboard.js}"></script>
      <script th:src="@{/admin/assets/js/main.js}"></script>
   </body>
</html>
